.hasmore {
background: url("../../../assets/images/details_open.png") no-repeat center center;
cursor: pointer;
}

.nomore {
background: url("../../../assets/images/details_close.png") no-repeat center center;
cursor: pointer;
}

.switch {
position: relative;
display: inline-block;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch b { font-weight:500; margin:4px 0 0 55px; font-size:13px; display:inline-block;}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height:17px;
  width:17px;
  left:3px;
  bottom:3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
     box-shadow:0 3px 5px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
background-color: #00709e;
}

input:focus + .slider {
box-shadow: 0 0 1px #00709e;
}

input:checked + .slider:before {
-webkit-transform: translateX(20px);
-ms-transform: translateX(20px);
transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
border-radius:100px;
    width:43px;
height:23px;
}

.slider.round:before {
  border-radius: 50%;
}
.info_alrt{color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;}
