<div class="modal-header">
    <!-- <div class="close-icon"><a mat-dialog-close><i class="closeIcon"></i></a></div> -->
    <h2 mat-dialog-title>{{'palletizingPage.title' | translate}}</h2>
</div>
<mat-dialog-content>
    <div class="pallet-main-div">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-4 clearfix">
                    <label class="labletext">{{'palletizingPage.palletId' | translate}}<span class="star">*</span>
                    </label>
                    <select class="form-control" name="palletId" [(ngModel)]="palletId" (ngModelChange)="getCarrierServiceInfoByPallet()">
                        <option [ngValue]='0'>- Please Select -</option>
                        <option *ngFor="let obj of palletList" [ngValue]="obj.palletId">{{obj.name}}</option>
                    </select>
                    <small class="errorMs">{{palletError}}</small>
                </div>
                <div class="mb-4 clearfix">
                    <label class="labletext">{{'palletizingPage.trackingNum' | translate}}<span class="star">*</span>
                    </label>
                    <input class="form-control" type="text" name="trackingNumber" [(ngModel)]="trackingNumber" (keyup.enter)="palletize($event)"/>
                    <small class="errorMs">{{trackingNumError}}</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pallet-div">
                    <div class="mb-4 clearfix">
                        <label class="labletext">{{'palletizingPage.carrierAndServiceType' | translate}}<span
                                class="star">*</span>
                        </label>
                        <select class="form-control" [(ngModel)]="carrierObj">
                            <option  [ngValue]="''">- Please Select -</option>
                            <option *ngFor="let obj of carrierAndServiceType" [ngValue]="obj.carrierName">{{obj.carrierName}}
                            </option>
                        </select>
                        <small class="errorMs" *ngIf="carrierObj==''">{{carrierObjError}}</small>
                    </div>
                    <div class="mb-4 clearfix">
                        <div class="form-group">
                            <button class="allBtn primaryBtn" [disabled]="disableCreatePallet" (click)="createPallet()"
                                tabindex="1">{{'palletizingPage.btnCreatePallet' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="fo-details" *ngIf="fulfilmentDetails && fulfilmentDetails?.data && fulfilmentDetails?.status">
            <div class="pallet-main-div">
                <h4 class="mainHeading">{{'labellingPage.fulfilmentDetails.title' | translate}}</h4>
                <div class="clearfix"></div>
                <div class="view_sec">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span class="labletext">{{'labellingPage.fulfilmentDetails.fulOrderId' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <span class="p-data">{{fulfilmentDetails.data.fulOrderId}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span class="labletext">{{'labellingPage.fulfilmentDetails.productPic' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group" *ngIf="fulfilmentDetails.data?.productPic">
                                <img [src]="'data:image/jpg;base64,'+fulfilmentDetails.data?.productPic" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span class="labletext">{{'labellingPage.fulfilmentDetails.fulOrderStatus' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <span class="p-data">{{fulfilmentDetails.data.fulOrderStatus}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span class="labletext">{{'labellingPage.fulfilmentDetails.productName' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <span class="p-data">{{fulfilmentDetails.data.productName}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <span class="labletext">{{'labellingPage.fulfilmentDetails.maninSku' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <span class="p-data">{{fulfilmentDetails.data.sku}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="text-right modal-footer">
        <button *ngIf="fulfilmentDetails && fulfilmentDetails.data" class="allBtn primaryBtn" (click)="foDetails()"
            tabindex="1">{{'labellingPage.btnFoDetails' | translate}}</button>
        <button class="close-btn" (click)="closeDialog()" tabindex="-1">{{'btnClose' | translate}}</button>
    </div>
</mat-dialog-actions>
<div class="modal popupDiv" id="palletConfornation" style="display: block; padding-left: 17px;" *ngIf="showDialog"
    role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="fs15 fw500">{{message}}</p>
            </div>
            <div class="modal-footer float-right">
                <button type="button" class="allBtn primaryBtn" (click)="closeMsgDialog()">
                    {{'ok' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>